body	{
	text-align: center;
	background: blue;
}

.main-header	{
	padding: 5px;
	margin-bottom: 10px;
	background: purple;
	border: 10px black solid;
}

.menu	{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding: 0;
}

.menu a	{
	text-decoration: none;
}

a	{
	text-decoration: none;
}

.menu li{
	padding: 10px;
	background: black;
	border: 4px black solid;
	color: white;
	text-align: center;
	border-radius: 6px;
	list-style: none;
}

.showcase	{
	height: 30vh;
	margin-bottom: 10px;
	border: 10px black solid;
	background: purple;
	
}

.main-article	{
	margin-bottom: 10px;
	border: 10px black solid;
	color: black;
	display: grid;
	height: 30vh;
	background: purple;
	
}